@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as spacing;
@use "sass:map";
@use "../abstracts/variables" as vars;


// Page Centre Container
.page-container {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }


  .section-wrapper {
    padding: 4rem 0;
    background-color: map.get(vars.$colors, light);
  
    &--dark {
      background-color: map.get(vars.$colors, dark);
      color: map.get(vars.$colors, white);
    }
  }