@use '../abstracts/variables' as vars;
@use 'sass:map';

.card {
  border: none;
  border-radius: 0;
  background-color: map.get(vars.$colors, light);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(map.get(vars.$colors, black), 0.15);
  }

  .card-img-top {
    border-radius: 0;
    object-fit: cover;
  }

  .card-body {
    padding: 1rem;
    text-align: center;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: map.get(vars.$colors, dark);
  }
}