.form {
    &__group {
      margin-bottom: $space-3;
    }
  
    &__label {
      display: block;
      margin-bottom: $space-1;
    }
  
    &__input {
      width: 100%;
      padding: $space-2;
      border: 1px solid lighten($color-black, 80%);
      border-radius: 0.25rem;
    }
  }
  